<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--自动备份IIS、exe任务 每周星期天早上2点 value="0 0 2 ? * SUN"-->
    <add key="AutoCopyTime" value="0 55 17 ? * WED" />
    <!--拷贝程序排除目录 多个以空格分隔-->
    <add key="exceptfile" value="Logs Temp" />
    <!--IIS配置文件位置-->
    <add key="iisprofix" value="C:\Windows\System32\inetsrv\Config\applicationHost.config" />
    <!--exe程序  xml配置-->
    <add key="exexmlprofix" value="D:\ProcessInfo.xml" />
    <!--备份文件主路径-->
    <add key="beifenmainpath" value="E:\beifen" />
    <!--programmanager程序文件所在路径-->
    <add key="programpath" value="E:\DZXZ工具\TPublishWinClient" />
    <!--username  目标地址的登录名-->
    <add key="username" value="Administrator" />
    <!--userpwd-->
    <add key="userpwd" value="cjj.123456" />
    
  </appSettings>
</configuration>